<h1 style="color: #09c; text-shadow: 0.05em 0.05em 0.2em gray">Designs</h1>
<p>These are some design works. Right-click and choose "save target as" if you would like to download any of the files.</p>
<table>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
  </tr>
 
  <tr>
    <td>Team Works Video(hi-res)</td>
    <td><a href="Images\FBMI_FNL.mov">Download</a></td>
  </tr>
  
</table>

