<html>
<head>
<style>

body { background-color: black; 
           background-image: none;    
               }
p { background-color: gray; }
 

</style>
</head>
<body><h1>< dillon ></h1>
<h2 style="text-align: center"><%= link_to "blog...", signin_path %></h2>
 <h1 style="text-align: right" >< /dillon ></h1>
</body>
</html>
